/*
===============================================================================
Chili is the jQuery code highlighter plugin
...............................................................................
                                               Copyright 2007 / Andrea Ercolino
-------------------------------------------------------------------------------
LICENSE: http://www.opensource.org/licenses/mit-license.php
WEBSITE: http://noteslog.com/chili/
===============================================================================
*/

.matlab .com      { color: yellow; }
.matlab .mlcom    { color: gold; }
.matlab .string   { color: #ff66ff; }
.matlab .keyword  { color: #00ffff;   font-weight: bold; }
.matlab .datatype { color: lightgreen; font-weight: bold; }
.matlab .preproc  { color: white; }
.matlab .number   { color: #ffaaaa; }
.matlab .badstring   { color: gray; }
.matlab .built_in_functions   { color: orange; }

