
/*
 *
 * Author: H. James de St. Germain
 * Date:   2007
 *
 */

/*
 *
 * Make Web backgroun a different color
 * 
 */
body
{
  background-color:#ABCDEF;
}



/*
 * The main header block of text on a web page (Only 1 allowed)
 *
 *  <div id="topics_header">hello</div>
 */
#topics_header 
{
        clear: both;
        display: block;
        margin: 10px 5px 10px 5px; /* top right bottom left */
        
        color: black;
        background-color: white;
        border: 1px solid black;

	text-align : justify;
        
        min-width: 400px;
        max-width: 750px;
        padding: 5px 5px 5px 10px;     /* top right bottom left */
}



#topics_header h1
{
   text-align: center;
}

#topics_header h2
{
   text-align: center;
}

/*
 * The main text of a web page (Only 1 allowed)
 *
 *  <div id="topics_body">hello</div>
 */
#topics_body 
{
        clear: both;
        display: block;
        margin: 10px 5px 10px 5px; /* top right bottom left */
        
        color: black;
        background-color: white;
        border: 1px solid black;
        
        min-width: 400px;
        max-width: 750px;
        padding: 5px 5px 5px 10px;     /* top right bottom left */

        text-align : justify;
}



#topics_body h1
{
   text-align: left;
}


.newscolumn
{
  text-align : justify;
  width:80%;
  margin: 2% 5% 2% 5%; /* top right bottom left*/
}

/*
 *
 */
.synopsis
{
  text-align : justify;
  width:80%;
  margin: 2% 5% 2% 5%; /* top right bottom left*/
}

