HW.BOARD.ARCH=ppc
HW.BOARD.CPUNAME=MPC555
HW.BOARD.DESCR="Motorola EVB555"
HW.BOARD.OSCILLATOR=40
HW.MemRegion.0.START=0x3f9800
HW.MemRegion.0.SIZE=0x6800
HW.MemRegion.0.TYPE=RAM
HW.MemRegion.1.START=0x2fc000
HW.MemRegion.1.SIZE=0xc000
HW.MemRegion.1.TYPE=I/O
HW.MemRegion.2.START=0x380000
HW.MemRegion.2.SIZE=0x10
HW.MemRegion.2.TYPE=I/O
HW.MemRegion.3.START=0
HW.MemRegion.3.SIZE=0x8000
HW.MemRegion.3.TYPE=FLASH
HW.MemRegion.4.START=0x8000
HW.MemRegion.4.SIZE=0x8000
HW.MemRegion.4.TYPE=FLASH
HW.MemRegion.5.START=0x10000
HW.MemRegion.5.SIZE=0x8000
HW.MemRegion.5.TYPE=FLASH
HW.MemRegion.6.START=0x18000
HW.MemRegion.6.SIZE=0x8000
HW.MemRegion.6.TYPE=FLASH
HW.MemRegion.7.START=0x20000
HW.MemRegion.7.SIZE=0x8000
HW.MemRegion.7.TYPE=FLASH
HW.MemRegion.8.START=0x28000
HW.MemRegion.8.SIZE=0x8000
HW.MemRegion.8.TYPE=FLASH
HW.MemRegion.9.START=0x30000
HW.MemRegion.9.SIZE=0x8000
HW.MemRegion.9.TYPE=FLASH
HW.MemRegion.10.START=0x38000
HW.MemRegion.10.SIZE=0x8000
HW.MemRegion.10.TYPE=FLASH
HW.MemRegion.11.START=0x40000
HW.MemRegion.11.SIZE=0x8000
HW.MemRegion.11.TYPE=FLASH
HW.MemRegion.12.START=0x48000
HW.MemRegion.12.SIZE=0x8000
HW.MemRegion.12.TYPE=FLASH
HW.MemRegion.13.START=0x50000
HW.MemRegion.13.SIZE=0x8000
HW.MemRegion.13.TYPE=FLASH
HW.MemRegion.14.START=0x58000
HW.MemRegion.14.SIZE=0x8000
HW.MemRegion.14.TYPE=FLASH
HW.MemRegion.15.START=0x60000
HW.MemRegion.15.SIZE=0x8000
HW.MemRegion.15.TYPE=FLASH
HW.MemRegion.16.START=0x68000
HW.MemRegion.16.SIZE=0x8000
HW.MemRegion.16.TYPE=FLASH

