HW.BOARD.ARCH=ppc
HW.BOARD.CPUNAME=MPC555
HW.BOARD.DESCR="phyCORE-MPC555"
HW.BOARD.OSCILLATOR=40

HW.MemRegion.0.START=0x020000
HW.MemRegion.0.SIZE=0x020000
HW.MemRegion.0.TYPE=RAM

HW.MemRegion.1.START=0x002000
HW.MemRegion.1.SIZE=0x1e000
HW.MemRegion.1.TYPE=ROM
